@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
    margin: 0 ;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

:root{
    --main-color: white;
    --second-color: black;
    --third-color: #DCDCDC;

  }
  

header{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    transition: .4s;
    height: 80px;
}
header.sticky{
    background-color: var(--main-color);
    height: 60px;
}

header .head-logo img{
    width: 100px;
}

header .head{
    display: flex; 
    gap: 40px;
}

header .head li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: black; 
    padding: 5px;
    border-radius: 10px;
}

header .head li a:hover{
    color: var(--main-color);
    background: var(--second-color)
}

header .head li  {
    list-style: none;
    
}


.hero{
    height: 100vh;
    background-image: url("/g.png");
    background-position: center;
    background-size: cover;
}

.hero-bg{
    width: 500px;
    padding: 30px;
    text-align: center;
    position: relative;
    top: 350px;
    left : 200px;
    background-color: var(--third-color);
    border-radius: 20px; 
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.hero-bg h1{
    font-size: 40px;
}
.hero-bg button{
    font-size: 20px;
    padding: 20px 60px 20px 60px; 
    text-decoration: none;
    border: none; 
    border-radius: 20px;
    background-color: var(--main-color);
}
.hero-bg button a{
    text-decoration: none;
}
.hero-bg h1,button{
    margin: 0
}



.skills{
    padding: 20px;
    background : var(--third-color);
}
.skills-main{
    max-width: 1200px;
    margin: auto;
    display: flex; 
    padding: 20px; 
    gap: 75px; 
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.skills-main .card i{
    font-size: 30px;
    color: red;
}

.carre {
    margin: 50px;
}

.carre .carre-main{
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
}
.carre .carre-main .carre-card{
    display: flex; 
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}
.carre .carre-main .carre-card img{
   border-radius: 20px 20px 0px 0px;
}
.carre .carre-main .carre-card button{
    padding: 10px 60px 10px 60px; 
    margin: 20px; 
    border: none; 
    border-radius: 10px;
}
.carre .carre-main .carre-card button a{
   text-decoration: none;
   font-size: 18px;
   font-weight: 600;

}

.blog{
    margin: 50px 0 50px 0;
    background-image: url(/Herobg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.blog .blog-main{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--main-color);
    width: 550px; 
    height: 550px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    position : relative; 
    top: 50px; left: 100px
}

.blog .blog-main2{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--main-color);
    width: 550px; 
    height: 550px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    position : relative; 
    top: 50px; left: 1200px
}

.blog .blog-main h1{
    font-size: 27px;
    text-align: center;

}
.blog .blog-main p{
    margin: 40px
}
.blog .blog-main2 h1{
    text-align: center;
    font-size: 27px;
}
.blog .blog-main2 p{
    margin: 40px
}

.faq {
    max-width: 1500px; 
    margin: auto;
    padding: 50px; 
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}


.faq .faq-main .faq-ques{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 600px;
    margin: auto;
    border: 1px solid;
    border-radius: 20px;
    margin-bottom: 20px;

}

.faq .faq-main .faq-ques p{
    display: none;
    transition: .5s;

} 
.faq .faq-main .faq-ques button{
    padding: 10px; 
    border: none; 
    border-radius: 10px;
    font-weight: 600;
    background-color: var(--third-color);

} 




.teams {
    margin-top: 50px;
}

.teams .carousel {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.teams h1{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 40px;
}

.teams .carousel .card{
    background: #DCDCDC;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: var(--main-color);

}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .box .text{
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0 7px 0;
    color: var(--second-color);
}
.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--second-color);
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: var(--second-color);
}




.contact-form{
    position: relative;
    min-height: 50vh;
    z-index: 0;
    padding: 30px;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;
}
.container{
    max-width: 800px;
    margin-top: 0 auto;
}
.contact-form h1{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: black;
}
.contact-form h2{
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    color: var(--second-color);
    text-align: center;
}
.contact-form .main{
    position: relative;
    display: flex;
    margin: 30px 0;
}
.content{
    flex-basis: 50%;
    padding: 3em 3em;
    background: #fff;
    box-shadow: 2px 9px 49px -17px rgba(156, 39, 148, 0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.form-img{
    flex-basis: 50%;
    background: #f0f4f8;
    background-size: cover;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    display: grid;
}
.form-img img{
    max-width: 100%;
}
.contact-form .btn,
.contact-form button,
input{
    border-radius: 35px;
}
.contact-form .btn:hover, .contact-form
button:hover{
    color: var(--third-color);
    transition: 0.5s ease;
}
.contact-form form{
    margin: 30px 0;
}
.contact-form input,
textarea{
    outline: none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color: #999;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #fcfcfc;
    transition: 0.3s ease;
}
.contact-form input:focus{
    background: transparent;
    border: 1px solid #69275c;
}
.contact-form button{
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: var(--second-color);
    font-weight: 600;
    transition: 0.3s ease;
    padding: 14px 15px;
    border: 1px solid var(--second-color);

}


.containerr{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}







/*responsive*/




@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}


@media(max-width:736px){
    .contact-form .main{
        flex-direction: column;
    }
    .contact-form form{
        margin-top: 30px;
        margin-bottom: 10px;

    }
    .form-img{
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        order: 2;
    }
    .content{
        order: 1;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 0;


    }
}




@media (max-width: 1100px) { 

    .hero .hero-bg {
        top: 200px;
        left: 0;
        padding: 0 0 20px 0;
        width: 95%; 
        margin: auto;
    }
    header .head {
        display:none
    }


    .faq .faq-main .faq-ques p{
        display: none;
    } 
    
    .faq:hover .faq-main .faq-ques:focus p{
        display: block!important;
    } 

    .blog .blog-main .blog-r{
        padding: 0; 
        width: 80%
    }
    .blog .blog-main .blog-l img{
        width: 100%;
    }
    .blog .blog-main {
        width: 100%;
        padding: 0; 
        position :static;
        height: auto
    }
    .blog .blog-main2 {
        width: 100%;
        padding: 0; 
        position :static;
        height: auto
    }
    .blog .blog-main2 h1 {
        padding: 20px;
    }
    .blog .blog-main h1 {
        padding: 20px;
    }
    .blog {
        margin-top: 50px;
    }

}
